<div class="row">
	<div class="col-sm-12"><div class="deleteResponse"></div></div>
</div>
<h4>Are you sure you want to reset password for <strong>{{ data.name }}</strong>?</h4>
<div style="float: right;">
  <button mat-raised-button color="primary" (click)="resetPassword(data.userId)" style="margin-right:10px;">Yes <span class="resetPasswordLoad"></span></button>
  <button mat-raised-button color="primary" (click)="closeReset()">No</button>
</div>