<div id="wrapper">
	<app-sibebar></app-sibebar>
	<div id="page-wrapper">
		<!-- <table 
			mat-table
			[dataSource]="dataSource" 
			multiTemplateDataRows
			class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
			<th mat-header-cell *matHeaderCellDef class="center-align"> {{column}} </th>
			<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
		</ng-container>
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length"></td>
	  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row" (click)="getTicket(element.id)">
		  </tr>
		  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
		</table> -->
		
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		  <ng-container matColumnDef="id">
		    <th mat-header-cell *matHeaderCellDef> No. </th>
		    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		  </ng-container>
		  <ng-container matColumnDef="ticket_no">
		    <th mat-header-cell *matHeaderCellDef> Ticket Id </th>
		    <td mat-cell *matCellDef="let element" (click)="getTicket(element.id)" style="cursor: pointer; color: blue"> <u>{{element.ticket_no}}</u> </td>
		  </ng-container>
		  <ng-container matColumnDef="project">
		    <th mat-header-cell *matHeaderCellDef> Project </th>
		    <td mat-cell *matCellDef="let element"> {{element.project}} </td>
		  </ng-container>
		  <ng-container matColumnDef="issue">
		    <th mat-header-cell *matHeaderCellDef> Issue </th>
		    <td mat-cell *matCellDef="let element"> {{element.issue}} </td>
		  </ng-container>
		  <ng-container matColumnDef="details">
		    <th mat-header-cell *matHeaderCellDef> Details </th>
		    <td mat-cell *matCellDef="let element"> {{element.details}} </td>
		  </ng-container>
		  <ng-container matColumnDef="status">
		    <th mat-header-cell *matHeaderCellDef> Status </th>
		    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
		  </ng-container>
		  <ng-container matColumnDef="created_at">
		    <th mat-header-cell *matHeaderCellDef> Created at </th>
		    <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
		  </ng-container>
		  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
		</table>
		<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

		<router-outlet></router-outlet>
	</div>
</div>