<mat-card>
    <mat-card-title><span class="fa fa-paper-plane-o"></span> Escalate ticket #{{ dataI.ticket_no }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <div>
            <form role="form" [formGroup]="EscalateTicketForm" (ngSubmit)="EscalateTicket()">
                <div class="form-group example-container">
<!--                   <mat-form-field>
                    <mat-select placeholder="Priority" formControlName="priority">
                      <mat-option value="option">Option</mat-option>
                            <mat-option *ngFor="let priority of priorities?.data" [value]="priority?.id">{{ priority?.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Category" formControlName="category">
                      <mat-option value="option">Option</mat-option>
                            <mat-option *ngFor="let issue of issues?.data" [value]="issue?.id">{{ issue?.name }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field>
                    <mat-select placeholder="Escalte to" formControlName="escalte_to">
                      <mat-option value="option">Option</mat-option>
                            <mat-option *ngFor="let pm of pms?.data" [value]="pm?.id">{{ pm?.full_name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <textarea matInput placeholder="Short Description of Issue:" formControlName="description"></textarea>
                  </mat-form-field>
                  <input type="hidden" value="{{ dataI.ticket_id }}" formControlName="ticket_id">
                  <div class="row">
                    <div class="col-md-2 col-sm-12 col-xm-12">
                      <mat-card-actions>
                        <div class="example-button-row">
                          <button mat-raised-button color="primary" [disabled]="!EscalateTicketForm.valid">Submit <span class="escalateLoad"></span></button>
                        </div>
                      </mat-card-actions>
                    </div>
                    <div class="col-md-10 col-sm-12 col-xm-12">
                        <div class="response" style="padding-left: 40px;"></div>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>