<div id="wrapper">
	<app-sibebar></app-sibebar>
	<div id="page-wrapper">
	<!-- <p>Test test</p> -->
		<table 
			mat-table
			[dataSource]="dataSource" 
			multiTemplateDataRows
			class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
		<th mat-header-cell *matHeaderCellDef class="center-align"> {{column}} </th>
		<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
		</ng-container>
		<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
		  <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div class="element-diagram">
				  <div class="element-position"> {{element.position}} </div>
				  <div class="element-symbol"> {{element.symbol}} </div>
				  <div class="element-name"> {{element.name}} </div>
				  <div class="element-weight"> {{element.weight}} </div>
				</div>
 				<div class="row">
 					<div class="col-md-4 col-sm-12 col-xm-12">
						<div class="element-description">
						  {{element.location}}<br>
						  <span class="element-description-attribution">{{ element.country }} </span>
						</div>
 					</div>
 					<div class="col-md-5 col-sm-12 col-xm-12">
						<div class="row">
							<div class="user-drop">
								<div *ngIf="element.email" 	class="col-md-12"><span class="fa fa-envelope"></span> {{element.email}}</div>
								<div *ngIf="element.phone" 	class="col-md-12"><span class="fa fa-phone"></span> {{element.phone}}</div>
								<div *ngIf="element.skype" 	class="col-md-12"><span class="fa fa-skype"></span> {{element.skype}}</div>
								<div *ngIf="element.role" 	class="col-md-12"><span class="fa fa-registered"></span> {{element.role}}</div>
								<div *ngIf="element.sbu" 		class="col-md-12"><span class="fa fa-check-circle"></span> {{element.sbu}}</div>
								<div *ngIf="element.client" class="col-md-12"><span class="fas fa-briefcase"></span> {{element.client}}</div>
							</div>
						</div>
 					</div>
 					<div class="col-md-3 col-sm-12 col-xm-12">
				        <button mat-raised-button color="primary" (click)="popEditUser(element)" style="margin-bottom: 5px">Edit</button><br>
				        <button mat-raised-button color="primary" (click)="popDeleteUser(element.full_name, element.id)" style="margin-bottom: 5px" *ngIf="delete_btn">Delete</button><br>
				        <button mat-raised-button color="primary" (click)="popResetPassword(element.full_name, element.id)" style="margin-bottom: 5px" *ngIf="reset_btn">Reset password</button>
				    <div class="row">
				    	<div class="col-md-4">
				    	</div>
				    	<div class="col-md-4">
				    	</div>
				    	<div class="col-md-4">
				    	</div>
				    </div>
 					</div>
 				</div>
		  </div>
			</td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
			  class="element-row"
			  [class.expanded-row]="expandedElement === element"
			  (click)="expandedElement = element">
		  </tr>
		  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
		</table>
		<router-outlet></router-outlet>
	</div>
</div>