<div class="row">
	<div class="col-sm-12"><div class="deleteResponse"></div></div>
</div>
<h4>Are you sure you want to delete the ticket?</h4>
<div style="float: right;">
  <button mat-raised-button color="primary" (click)="deleteTicket(ticketId)" style="margin-right:10px;">Yes <span class="deleteLoad"></span></button>
  <button mat-raised-button color="primary" (click)="closeDelete()">No</button>
</div>