<!-- <div style="margin: 10px 0 20px 0; padding: 20px; width:600px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6 col-sm-12 col-xm-12">
      
    </div>
    <div class="col-md-6 col-sm-12 col-xm-12">
      <div style="float: left;margin-right: 10px;">
        <button mat-raised-button color="primary" style="margin-right:10px; "><span class="fa fa-download"></span> Download</button>
      </div>
      <div style="float: left;">
        <button mat-raised-button color="primary" style="margin-right:10px; "><span class="fa fa-print"></span> Print</button>     
      </div>
    </div>
  </div>
  <table border="1px" bordercolor="#ececec" cellspacing="10"  style="width: 100%;">
    <tr style="background: #ececec; color: #060000">
      <th colspan="2"><h4>Job Card</h4></th>
    </tr>
    <tr>
      <td>Project</td>
      <td>{{ data.ticket?.project }}</td>
    </tr>
    <tr>
      <td>Ticket</td>
      <td>{{ data.ticket?.ticket_no }}</td>
    </tr>
    <tr>
      <td>Ticket status</td>
      <td>{{ data.ticket?.status }}</td>
    </tr>
    <tr>
      <td>Created date</td>
      <td>{{ data.ticket?.created_at }}</td>
    </tr>
    <tr>
      <td>Closed date</td>
      <td></td>
    </tr>
    <tr>
      <td>Total Hours</td>
      <td>{{ data.ticket?.ticket_time_used }}</td>
    </tr>
  </table>
</div> -->
<div class="row">
  <div class="col-md-12" style="border: solid #000000 2px;">
    <mat-toolbar class="row" style="background-color: #ffffff;">
      <div class="col-md-6">
        <img src="/assets/images/logo.png" alt="Logo" style="padding: 1em; max-width: calc(50%); max-height: calc(100%)">
      </div>
      <div class="col-md-6">
        <h4>Job Card</h4>
      </div>
    </mat-toolbar>
  </div>
  <div class="col-md-12" style="margin-top: 0.5em; border: solid #000000 2px;">
    <div class="row" style="padding: 1em;">
      <div class="col-md-3">
        <span><strong>Ticket Number</strong></span>
      </div>
      <div class="col-md-3">
        <span>PRJI5PASG0376-TKT2</span>
      </div>
    </div>
    <div class="row" style="padding: 1em;">
      <div class="col-md-3">
        <span><strong>Ticket Opened Date</strong></span>
      </div>
      <div class="col-md-3">
        <span>23/Mar/2016</span>
      </div>
      <div class="col-md-1">
        <span><strong>Time</strong></span>
      </div>
      <div class="col-md-3">
        <span>19:14:19</span>
      </div>
    </div>
  </div>
  <table class="col-md-12" style="margin-top: 0.5em;">
    <!-- <tr>
      <td>
        <span><strong>Customer/Company Name</strong></span>
      </td>
      <td>
        <span>Patnership for African Social Govt Research</span>
      </td>
      <td>
        <span><strong>Project Name</strong></span>
      </td>
      <td>
        <span>PASGR-Support</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><strong>Mobile Number</strong></span>
      </td>
      <td style="border-right: solid #000000 2px;">
        <span><a href="tel:+2547311000065">+2547311000065</a></span>
      </td>
      <td>
        <span><strong>Email ID</strong></span>
      </td>
      <td>
        <span><a href="mailto:info@pasgr.org">info@pasgr.org</a></span>
      </td>
    </tr>
    <tr>
      <td>
        <span><strong>Location/Address</strong></span>
      </td>
      <td>
        <span>Kenya</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><strong>Contact Person</strong></span>
      </td>
      <td>
        <span>Anna Otiato</span>
      </td>
      <td>
        <span><strong>TBL Consultant's Name(Assignee) Designation</strong></span>
      </td>
      <td>
        <span>Auleriah Mwangi</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><strong>Activity Type</strong></span>
      </td>
      <td>
        <span>Patch and Build Activity</span>
      </td>
    </tr> -->
    <tr>
      <td style="height: 300px; text-align: right;">
        <span><strong>Service Request Description</strong></span>
      </td>
      <td style="height: 300px; text-align: right;">
        <span>Setting up serenic</span>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong><u>Resolution Description</u></strong></p>
      </td>
    </tr>
    <tr style="border-top: none;">
      <td><p>Installation Complete</p></td>
    </tr>
    <tr>
      <td>
        <span><strong>Resolution Start Date</strong></span>
      </td>
      <td>
        <span>16/Mar/2016</span>
      </td>
      <td>
        <span><strong>Resolution End Date</strong></span>
      </td>
      <td>
        <span>16/Mar/2016</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><strong>Total Resolution Efforts</strong></span>
      </td>
      <td>
        <span>5.70</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span><strong>TBL Consultant's Signature:</strong></span>
      </td>
      <td>
        <span><strong>Date</strong></span>
      </td>
      <td>
        <span><strong>Time</strong></span>
      </td>
    </tr>
    <tr>
      <td>
        <span><strong>Ticket Status</strong></span>
      </td>
    </tr>
    <tr></tr>
  </table>
</div>