<mat-card>
    <mat-card-title><span class="fa fa-pencil"></span> Edit Ticket</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <div>
            <form role="form" [formGroup]="EditTicketForm" (ngSubmit)="editTicket()">
                <div class="form-group example-container">
                  <p>{{ ticket?.created_at }}</p>
                  <mat-form-field>
                    <mat-select placeholder="Project" formControlName="project">
                      <mat-option value="">Option</mat-option>
                            <mat-option *ngFor="let project of projects?.data" [value]="project?.id">{{ project?.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Priority" formControlName="priority">
                      <mat-option value="">Option</mat-option>
                            <mat-option *ngFor="let priority of priorities?.data" [value]="priority?.id">{{ priority?.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Issue" formControlName="issue">
                      <mat-option value="">Option</mat-option>
                            <mat-option *ngFor="let issue of issues?.data" [value]="issue?.id">{{ issue?.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <textarea matInput placeholder="Details" formControlName="details"></textarea>
                  </mat-form-field>
                  <div class="row">
                    <div class="col-md-2 col-sm-12 col-xm-12">
                      <mat-card-actions>
                        <div class="example-button-row">
                          <button mat-raised-button color="primary" [disabled]="!EditTicketForm.valid">Submit <span class="editLoad"></span></button>
                        </div>
                      </mat-card-actions>
                    </div>
                    <div class="col-md-10 col-sm-12 col-xm-12">
                        <div class="response" style="padding-left: 40px;"></div>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>