<mat-card>
	<mat-card-title>Edit Client</mat-card-title>
	<mat-card-subtitle></mat-card-subtitle>
	<mat-card-content>
		<div>
			<form role="form" [formGroup]="EditClientForm" (ngSubmit)="onSubmit()">
				<div class="form-group example-container">
				  <mat-form-field>
				    <mat-select placeholder="Country" formControlName="country">
				      <mat-option value="option">Option</mat-option>
							<mat-option *ngFor="let country of countries?.data" [value]="country?.id">{{ country?.name }}</mat-option>
				    </mat-select>
				  </mat-form-field>
				  <mat-form-field>
				    <input matInput placeholder="Client name" formControlName="name">
				  </mat-form-field>
				  <mat-form-field>
				    <input matInput placeholder="Client email" formControlName="email">
				  </mat-form-field>
				  <mat-form-field>
				    <input matInput placeholder="Client phone" formControlName="phone">
				  </mat-form-field>
				  <input type="hidden" name="" formControlName="id">
				  <div class="row">
				  	<div class="col-md-2 col-sm-12 col-xm-12">
				  		<mat-card-actions>
						    <div class="example-button-row">
								  <button mat-raised-button color="primary" [disabled]="!EditClientForm.valid">Submit <span class="submitLoad"></span></button>
								</div>
						  </mat-card-actions>
				  	</div>
				  	<div class="col-md-2 col-sm-12 col-xm-12">
				  		<mat-card-actions>
						    <div class="example-button-row">
								  <button mat-raised-button color="primary" (click)="closeEdit()" style="margin-left: 20px;">Close</button>
								</div>
						  </mat-card-actions>
				  	</div>
				  	<div class="col-md-10 col-sm-12 col-xm-12">
				  		<div class="response" style="padding-left: 40px;"></div>
				  	</div>
				  </div>
				</div>
			</form>
		</div>
	</mat-card-content>
</mat-card>			
