<div id="wrapper">
	<app-sibebar></app-sibebar>
	<div id="page-wrapper">
		<table 
			mat-table
			[dataSource]="dataSource" 
			multiTemplateDataRows
			class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
		<th mat-header-cell *matHeaderCellDef class="center-align"> {{column}} </th>
		<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
		</ng-container>
		<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
		  <div class="element-detail"
			   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xm-12">
						<div class="p-summary-section">
							<div class="row" style="border-bottom: 1px solid #ccc; padding: 5px;">
								<div class="col-md-5">Status</div>
								<div class="col-md-4"><span class="badge">Active</span></div>
							</div>
							<div class="row" style="border-bottom: 1px solid #ccc; padding: 5px;">
								<div class="col-md-5">Active tickets</div>
								<div class="col-md-4"><span class="badge">{{ element.active_tickets }}</span></div>
							</div>
							<div class="row" style="border-bottom: 1px solid #ccc; padding: 5px;">
								<div class="col-md-5">Closed tickets</div>
								<div class="col-md-4"><span class="badge">{{ element.closed_tickets }}</span></div>
							</div>
							<div class="row" style="border-bottom: 1px solid #ccc; padding: 5px;">
								<div class="col-md-5">Total Hours</div>
								<div class="col-md-4"><span class="badge">{{ element.total_time }}</span></div>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 col-xm-12">
						<div class="row">
							<div class="user-drop">
								
								
							</div>
						</div>
					</div>
				</div>
				<div style="padding: 20px">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xm-12">
								<button mat-raised-button color="primary" (click)="popEdit(element)" *ngIf="edit_btn">
								Edit
							  </button>
						</div>
						<div class="col-md-2 col-sm-12 col-xm-12">
								<button mat-raised-button color="primary" (click)="popDelete(element)" *ngIf="delete_btn">
								Delete
							  </button>
						</div>
						<div class="col-md-2 col-sm-12 col-xm-12">
							<button mat-raised-button color="primary">
								Tickets <span matBadge="{{ element.all_tickets }}" matBadgePosition="center after" matBadgeOverlap="false" matBadgeColor="accent"></span>
						  </button>
						</div>
					</div>
				</div>
		  </div>
			</td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
			  class="element-row"
			  [class.expanded-row]="expandedElement === element"
			  (click)="expandedElement = element">
		  </tr>
		  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
		</table>
		<router-outlet></router-outlet>
	</div>
</div>