<mat-card>
	<mat-card-title>Edit project</mat-card-title>
	<mat-card-subtitle></mat-card-subtitle>
	<mat-card-content>
		<div>
			<form role="form" [formGroup]="EditProjectForm" (ngSubmit)="onSubmit()">
				<div class="form-group example-container">
					<mat-form-field>
						<input matInput placeholder="Project Name" formControlName="project">
				  </mat-form-field>
				  <mat-form-field>
						<mat-select placeholder="Country" formControlName="country">
						  <mat-option value="option">Option</mat-option>
							<mat-option *ngFor="let country of countries?.data" [value]="country?.id">{{ country?.name }}</mat-option>
						</mat-select>
				  </mat-form-field>
				  <mat-form-field>
						<mat-select placeholder="Client" formControlName="client">
						  <mat-option value="option">Option</mat-option>
						  <mat-option *ngFor="let client of clients?.data" [value]="client?.id">{{ client?.name }}</mat-option>
						</mat-select>
				  </mat-form-field>
					<mat-form-field>
					<input matInput placeholder="SAP code" formControlName="sapCode">
				  </mat-form-field>
<!--                                    <mat-form-field>
					  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
					  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
					</mat-form-field> -->
				  <mat-form-field>
					<mat-select class="dropdown" placeholder="Type of Support" (selectionChange)="supportType();"  formControlName="supportType">
					  <mat-option value="">Option</mat-option>
					  <mat-option value="1">Fixed</mat-option>
					  <mat-option value="2">Time and material</mat-option>
					</mat-select>
				  </mat-form-field>
				  <mat-form-field *ngIf="supportHours">
					<input matInput placeholder="Support Hours" formControlName="supportHours">
				  </mat-form-field>
					<mat-form-field *ngIf="billingCycle">
					<input matInput placeholder="Billing Cycle (Days)" formControlName="billingCycle">
				  </mat-form-field>
				  <mat-form-field *ngIf="supportRate">
					<input matInput placeholder="Support Rate (Amount/Hour)" formControlName="supportRate">
				  </mat-form-field>
				  <div class="row">
					<div class="col-md-6">
						<mat-form-field>
							<input type="date" matInput placeholder="Start date" formControlName="contract_start">
					  </mat-form-field>
					</div>
					<div class="col-md-6">
						<mat-form-field>
							<input type="date" matInput placeholder="End date" formControlName="contract_end">
					  </mat-form-field>											
					</div>
				  </div>
				  <mat-form-field>
					<mat-select placeholder="SBU" formControlName="sbu" (selectionChange)="getSbuPms();">
					  <mat-option value="option">Option</mat-option>
					  <mat-option *ngFor="let sbu of sbus?.data" [value]="sbu?.id">{{ sbu?.name }}</mat-option>
					</mat-select>
				  </mat-form-field>
				  <mat-form-field>
					<mat-select placeholder="Project Manager" formControlName="projectManager">
					  <mat-option value="option">Option</mat-option>
					  <mat-option *ngFor="let projectManager of projectManagers?.data" [value]="projectManager?.id">{{ projectManager?.full_name }}</mat-option>
					</mat-select>
				  </mat-form-field>
<!--                                      <mat-form-field>
					<textarea matInput placeholder="Textarea" formControlName=""></textarea>
				  </mat-form-field> -->
				  <div class="row">
					<div class="col-md-2 col-sm-12 col-xm-12">
						<mat-card-actions>
					<div class="example-button-row">
						  <button mat-raised-button color="primary" [disabled]="!EditProjectForm.valid">Submit <span class="submitLoad"></span></button>
						</div>
				  </mat-card-actions>
					</div>
					<div class="col-md-10 col-sm-12 col-xm-12">
						<div class="edit-response" style="padding-left: 40px;"></div>
					</div>
				  </div>
				</div>
			</form>
		</div>
	</mat-card-content>
</mat-card>