table 
	width: 100% 
tr 
	&.detail-row 
		height: 0 
	&.element-row 
		&:not(.expanded-row):hover 
			background: #f5f5f5 
		&:not(.expanded-row):active 
			background: #efefef 
.element-row 
	td 
		border-bottom-width: 0 
		padding: 20px

.element-detail 
	overflow: hidden 
.element-diagram 
	min-width: 80px 
	border: 2px solid black 
	padding: 8px 
	font-weight: lighter 
	margin: 8px 0 
	height: 104px 
.element-symbol 
	font-weight: bold 
	font-size: 40px 
	line-height: normal 
.element-description 
	padding: 16px 
.element-description-attribution 
	opacity: 0.5 
.center-align
	text-align: center
.border-c-silver
	border: solid 2px #ccc

.user-drop
	font-size: 16px

.p-summary-section ul
	list-style-type: none
	padding: 0

.p-summary-section ul li
	text-decoration: none
	padding-bottom: 10px