<div id="wrapper">
	<app-sibebar></app-sibebar>
	<div id="page-wrapper">
		<table 
			mat-table
			[dataSource]="dataSource" 
			multiTemplateDataRows
			class="mat-elevation-z8">
		<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
		<th mat-header-cell *matHeaderCellDef class="center-align"> {{column}} </th>
		<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
		</ng-container>
		<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
		  <div class="element-detail"
			   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div style="padding: 20px">
					<div class="row">
						<div class="col-md-2 col-sm-12 col-xm-12">
								<button mat-raised-button color="primary" (click)="popEdit(element)" *ngIf="edit_btn">
								Edit
							  </button>
						</div>
						<div class="col-md-2 col-sm-12 col-xm-12">
								<button mat-raised-button color="primary" (click)="popDelete(element)" *ngIf="delete_btn">
								Delete
							  </button>
						</div>
					</div>
				</div>
		  </div>
			</td>
		  </ng-container>

		  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
			  class="element-row"
			  [class.expanded-row]="expandedElement === element"
			  (click)="expandedElement = element">
		  </tr>
		  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
		</table>
		<router-outlet></router-outlet>
	</div>
</div>