
<div class="panel panel-default">
	<div class="panel-heading">
		Edit user
	</div>
	<div class="panel-body">
		<form role="form" [formGroup]="EditUserForm" (ngSubmit)="saveUserChanges()">
			<div class="form-group">
				<label>Accounty Type</label> <span>{{userData.accountType}}</span>
				<select class="form-control dropdown" formControlName="accountType">
					<option>Select</option>
					<option value="tbl" *ngIf="tbl_option">TBL</option>
					<option value="client" *ngIf="client_option">Client</option>
					<!-- <option value="client" *ngIf="client_option_selected" select>Client</option> -->
				</select>
			</div>
			<span class="fa fa-refresh fa-spin" *ngIf="loadForm" style="font-size:20px;"></span>

			<div>
				<div id="clientSelect" *ngIf="client">
					<div class="clearfix full">
						<label>Client</label>
						<select class="form-control dropdown" formControlName="client">
							<option value="">Select</option>
							<option *ngFor="let client of clients.data" value="{{ client.id }}">{{ client.name }}</option>
						</select>
					</div>
				</div>
			<div class="form-row">
				<div class="col-md-6 col-sm-12 col-xm-12"  style="padding: 0;">
					<div class="form-group">
						<label>Country</label>
						<select class="form-control dropdown" formControlName="country">
							<option value="">Select</option>
							<option *ngFor="let country of countries?.data" value="{{ country.id }}">{{ country.name }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xm-12">
					<div class="form-group">
						<label>User Group</label>
						<select class="form-control dropdown" formControlName="userGroup" (change)="userGroupSelection();">
							<option value="">Select</option>
							<option *ngFor="let role of roles?.data" value="{{ role.id }}" (click)="userGroupChange()">{{ role.name }}</option>
						</select>
					</div>
				</div>
			</div>
				<input type="hidden" name="client_id" value="">
				<input type="hidden" name="country_id" value="">

				<div *ngIf="sbu">
					<div class="form-group">
						<label>SBU</label>
						<select class="form-control dropdown" formControlName="sbu">
							<option value="">Select</option>
							<option *ngFor="let sbu of sbus.data" value="{{ sbu.id }}">{{ sbu.name }}</option>
						</select>
					</div>
				</div>
			
				<div class="form-group">
					<label>First Name</label>
					<input class="form-control" placeholder="First Name" formControlName="firstName">
				</div>
				<div class="form-group">
					<label>Middle Name</label>
					<input class="form-control" placeholder="Middle Name" formControlName="middleName">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input class="form-control" placeholder="Last Name" formControlName="lastName">
				</div>
				<div class="form-row">
					<div class="col-md-6 col-sm-12 col-xm-12" style="padding: 0;">
						<div class="form-group">
							<label>Email Address</label>
							<input class="form-control" placeholder="Email Address" formControlName="email">
						</div>
					</div>	
					<div class="col-md-6 col-sm-12 col-xm-12">
						<div class="form-group">
							<label>Cellphone No.</label>
							<input class="form-control" placeholder="Cellphone No." formControlName="phone">
						</div>
					</div>	
				</div>			
				<div class="form-row">
					<div class="col-md-6 col-sm-12 col-xm-12" style="padding: 0;">
						<div class="form-group">
							<label>Skype ID</label>
							<input class="form-control" placeholder="Skype ID" formControlName="skype">
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xm-12">
						<div class="form-group">
							<label>City/Town</label>
							<input class="form-control" placeholder="City/Town" formControlName="town">
						</div>
					</div>												
				</div>
				<div>
					<div class="col-md-3 col-sm-6 col-xm-6" style="padding: 0;">
						<button mat-raised-button color="primary" type="submit" class="btn btn-default" [disabled]="!EditUserForm.valid">Submit Button <span class="submitLoad"></span></button>
					</div>
					<div class="col-md-9 col-sm-6 col-xm-6" style="padding: 0;">
						<div class="response" style="padding-left: 40px;"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>