<div class="login-page">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xm-12 col-md-offset-3">
				<mat-card>
					<mat-card-title>User login</mat-card-title>
					<mat-card-subtitle></mat-card-subtitle>
					<mat-card-content>
						<div>
							<form role="form" [formGroup]="UserLoginForm" (ngSubmit)="onSubmit()">
								<div class="form-group example-container">
									<mat-form-field>
										<input matInput placeholder="Enter email" formControlName="email">
										<input matInput formControlName="_token">
								  </mat-form-field>
								  <mat-form-field>
										<input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
										<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								  </mat-form-field>
								  <div class="row">
									<div class="col-md-2 col-sm-12 col-xm-12">
									<mat-card-actions>
										<div class="example-button-row">
										  <button mat-raised-button color="primary" [disabled]="!UserLoginForm.valid">Submit <span class="submitLoad"></span></button>
										</div>
								  </mat-card-actions>
									</div>
									<div class="col-md-10 col-sm-12 col-xm-12">
										<div class="response" style="padding-left: 40px;"></div>
									</div>
								  </div>
								</div>
							</form>
						</div>
					</mat-card-content>
				</mat-card>			
		</div>
	</div>	
</div>
