.login-page
	padding: 20px;
	display : flex 1;
	height : auto;
	min-height : 100vh;
	background: linear-gradient(-45deg, #615A83, #E4E3EA, #E4E3EA);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;

.example-container
  display: flex;
  flex-direction: column;


.example-container > *
  width: 100%;


.example-right-align 
  text-align: right;


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button 
  display: none;


input.example-right-align 
  -moz-appearance: textfield;

@-webkit-keyframes Gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%

@-moz-keyframes Gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%

@keyframes Gradient
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0% 50%
