<div id="wrapper">
    <app-sibebar></app-sibebar>
    <div id="page-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div style="background: #f9fafc; padding: 20px; border-bottom: 1px solid #ebeef3">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xm-12">
              <div style="float: left;">
                <p><strong><i>Received on: {{ ticket?.created_at }}</i></strong></p>
                <h2>Ticket No: #{{ ticket?.ticket_no }}</h2>
                <div style="padding: 10px 0 20px 0">
                  Status {{ ticket?.status }}<span class="badge badge-info"></span>
                </div>                
              </div>
              <div style="float: right;">
                  <button mat-raised-button color="primary" (click)="popEdit(ticket)" style="margin-right:10px; " *ngIf="edit_btn">Edit</button>
                  <button mat-raised-button color="primary" (click)="popAssign(ticket?.id)" style="margin-right:10px;" *ngIf="assgn_btn">Assign</button>
                  <button mat-raised-button color="primary" (click)="popEscalate()" style="margin-right:10px;" *ngIf="esc_btn">Escalate</button>
                  <button mat-raised-button color="primary" (click)="popDelete(ticket?.id)" *ngIf="delete_btn">Delete</button>
              </div>
            </div>
          </div>
          <div style="border:1px solid #ccc; padding: 20px 10px 20px 10px;border-radius: 10px;">
            <div class="row ticketDetails">
              <div class="col-md-6 col-sm-12 col-xm-12">
                <table border="1" cellpadding="5" class="table table-bordered table-striped table-sm">
                  <tr>
                    <td><strong>Ticket:</strong></td>
                    <td>{{ ticket?.ticket_no }}</td>
                  </tr>
                  <tr>
                    <td><strong>Project:</strong></td>
                    <td>{{ ticket?.project }}</td>
                  </tr>
                  <tr>
                    <td><strong>Status:</strong></td>
                    <td><span class="badge badge-secondary">{{ ticket?.status }}</span></td>
                  </tr>
                  <tr>
                    <td><strong>Priority:</strong></td>
                    <td><span class="badge badge-secondary">{{ ticket?.priority }}</span></td>
                  </tr>                 
                  <tr>
                    <td><strong>Type of Issue.</strong></td>
                    <td>{{ ticket?.issue }}</td>
                  </tr>
                  <tr>
                    <td><strong>Date Created</strong></td>
                    <td>{{ ticket?.created_at }}</td>
                  </tr>
                  <tr>
                    <td><strong>Time used:</strong></td>
                    <td>{{ ticket?.ticket_time_used }}</td>
                  </tr>
                  <tr>
                    <td><strong>TAT :</strong></td>
                    <td>{{ ticket?.tat }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6 col-sm-12 col-xm-12">
                <table border="1" cellpadding="5" class="table table-bordered table-striped table-sm">
                  <tr>
                    <td><strong>Ticket Owner:</strong></td>
                    <td>{{ ticket?.assign_name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Escalated to:</strong></td>
                    <td>{{ ticket?.escalated_to_name }}</td>
                  </tr>
                  <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{ ticket?.user_email }}</td>
                  </tr>
                  <tr>
                    <td><strong>Alternative contact name:</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>Alternative contact phone:</strong></td>
                    <td></td>
                  </tr>
                  <tr *ngIf="job_card_btn">
                    <td colspan="2"><button mat-raised-button color="primary" (click)="popJobCard()" style="margin-right:10px; ">Job Card</button></td>
                  </tr>
                </table>
              </div>
            </div>        
            <strong>Ticket Details</strong>
            <p>{{ ticket?.details }}</p>
          </div>
          <br>
          <form id="change_status">
            <input type="hidden" name="esc" value="<?php echo $esc['id'] ?>">   
            <input type="hidden" name="formType" value="change_status">
            <div class="row">
              <div class="col-md-2">
                <div style="padding-top: 10px;" >
                  <!-- <button type="button" class="btn btn-info" onclick="changeStatus()">Submit</button> -->
                </div>        
              </div>
              <div class="col-md-7">
                <div id="response"></div>
                <div id="loading" style="margin-top: 10px;"></div>        
              </div>
            </div>    
          </form>
          <div style="border:1px solid #ccc; padding: 20px 10px 20px 10px; border-radius: 10px;">
            <h3>Update ticket</h3>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xm-12">
                <form role="form" [formGroup]="UpdateTicketForm" (ngSubmit)="onSubmit()">
                  <div class="form-group example-container">
                    <mat-form-field>
                      <mat-select placeholder="Status" formControlName="status" (selectionChange)="statusChange()">
                        <mat-option value="">Option</mat-option>
                        <mat-option *ngFor="let st of status" [value]="st?.id">{{ st?.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field *ngIf="supportHrs">
                          <input type="number" matInput placeholder="HR" formControlName="hrs">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field *ngIf="supportMins">
                          <input type="number" matInput placeholder="MIN" formControlName="mins">
                        </mat-form-field>
                      </div>
                    </div>
                    <mat-form-field *ngIf="details">
                      <textarea matInput placeholder="Details" formControlName="details"></textarea>
                    </mat-form-field>
                    <div class="row">
                      <div class="col-md-2 col-sm-12 col-xm-12">
                    <mat-card-actions>
                      <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!UpdateTicketForm.valid">Update <span class="submitLoad"></span></button>
                      </div>
                    </mat-card-actions>
                      </div>
                      <div class="col-md-10 col-sm-12 col-xm-12">
                        <div class="response" style="padding-left: 40px;"></div>
                      </div>
                    </div>
                  </div>
                </form>              
              </div>
            </div>
          </div>
          <br>
          <div style="border:1px solid #ccc; padding: 20px 10px 20px 10px; border-radius: 10px;">
            <h3>Ticket activities</h3>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xm-12">
                <h4>Escalate</h4>
                <table class="table table-condensed table-striped isuzu-datatable" style="font-size: 0.8em;">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <!-- <th>Priority</th> -->
                      <!-- <th>Issue</th> -->
                      <th>Details</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let esc of ticket?.ticket_escalations">
                      <td>{{ esc?.escalated_to }}</td>
                      <!-- <td>{{ esc?.priority }}</td> -->
                      <!-- <td>{{ esc?.issue }}</td> -->
                      <td>{{ esc?.description }}</td>
                      <td>{{ esc?.created_at }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 col-sm-12 col-xm-12">
                <div *ngIf="assg_section">
                  <h4>Assign</h4>
                  <table class="table table-condensed table-striped isuzu-datatable" style="font-size: 0.8em;">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Priority</th>
                        <th>Details</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let assg of ticket?.ticket_assg">
                        <td>{{ assg?.assg_to }}</td>
                        <td>{{ assg?.priority }}</td>
                        <td>{{ assg?.description }}</td>
                        <td>{{ assg?.created_at }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xm-12">
                <h4>Status</h4>
                <table class="table table-condensed table-striped isuzu-datatable" style="font-size: 0.8em;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Action By</th>
                      <th>Comment</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let status of ticket?.ticket_status">
                      <td>{{ status?.name }}</td>
                      <td>{{ status?.action_by }}</td>
                      <td>{{ status?.description }}</td>
                      <td>{{ status?.created_at }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr>
          <h3>Ticket Messages</h3>
          <div class="" style="padding: 10px;margin-bottom: 20px;">
            <div class="msg" *ngFor="let chat of chats">
              <div style="">
                <p style="font-size: 12px;font-weight: 600;">{{ chat?.full_name }}  <i>{{ chat?.created_at }}</i></p>
              </div>
              <div style="border-top: 1px solid #ccc;">
                <p>{{ chat?.chat_message }}</p>
              </div>
            </div>
          </div>
          <form role="form" [formGroup]="TicketChatForm" (ngSubmit)="chatSubmit()">
            <div class="form-group example-container" style="background: #ebedef;padding: 20px;">
                  <mat-form-field>
                    <textarea rows="5" matInput placeholder="Enter your message" formControlName="msg" [disabled]="false"></textarea>
                  </mat-form-field>
                  <input type="hidden" name="ticket_id">
                  <input type="hidden" name="chat_category">
                  <mat-card-actions>
                    <div class="example-button-row">
                      <button mat-raised-button color="primary" [disabled]="!UpdateTicketFormValid"><span class="  fa fa-send-o"></span> Comment <span class="chatLoad"></span></button>
                    </div>
                  </mat-card-actions>
                  <div class="chatResponse"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
        <router-outlet></router-outlet>
    </div>
</div>