
<mat-card>
	<mat-card-title>Change your password</mat-card-title>
	<mat-card-subtitle></mat-card-subtitle>
	<mat-card-content>
		<div>
			<form role="form" [formGroup]="ChangePasswordForm" (ngSubmit)="changePassword()">
				<div class="form-group example-container">
				  <mat-form-field>
						<label>Current password</label>
						<input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName="current_password">
						<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				  </mat-form-field>
				  <mat-form-field>
						<label>New password</label>
						<input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName="new_password">
						<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				  </mat-form-field>
				  <input  type="hidden" formControlName="user_id">
				  <div class="row">
					<div class="col-md-2 col-sm-12 col-xm-12">
					<mat-card-actions>
						<div class="example-button-row">
						  <button mat-raised-button color="primary" [disabled]="!ChangePasswordForm.valid">Submit <span class="changePasswordLoading"></span></button>
						</div>
				  </mat-card-actions>
					</div>
					<div class="col-md-10 col-sm-12 col-xm-12">
						<div class="ChangeResponse" style="padding-left: 40px;"></div>
					</div>
				  </div>
				</div>
			</form>
		</div>
	</mat-card-content>
</mat-card>			