<div id="wrapper">
	<app-sibebar></app-sibebar>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ items?.clients }}</div>
                                <div>Clients</div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="/clients/view">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ items?.projects }}</div>
                                <div>Projects</div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="/projects/show/active">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ items?.tickets }}</div>
                                <div>Tickets</div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="/tickets/view">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ items?.users }}</div>
                                <div>Users</div>
                            </div>
                        </div>
                    </div>
                    <a routerLink="/users/view">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Oracle</th>
                            <th>MSFT</th>
                            <th>IDM</th>
                            <th>PFM</th>
                            <th>M-Services</th>
                            <th>Pool</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7"><strong>Projects</strong></td>
                        </tr>
                        <tr>
                            <td>Open Projects</td>
                            <td>{{ items?.sbu_report.active_projects['3'] }}</td>
                            <td>{{ items?.sbu_report.active_projects['2'] }}</td>
                            <td>{{ items?.sbu_report.active_projects['1'] }}</td>
                            <td>{{ items?.sbu_report.active_projects['4'] }}</td>
                            <td>{{ items?.sbu_report.active_projects['5'] }}</td>
                            <td>{{ items?.sbu_report.active_projects['6'] }}</td>
                        </tr>
                        <tr>
                            <td>Closed Project</td>
                            <td>{{ items?.sbu_report.ended_projects['3'] }}</td>
                            <td>{{ items?.sbu_report.ended_projects['2'] }}</td>
                            <td>{{ items?.sbu_report.ended_projects['1'] }}</td>
                            <td>{{ items?.sbu_report.ended_projects['4'] }}</td>
                            <td>{{ items?.sbu_report.ended_projects['5'] }}</td>
                            <td>{{ items?.sbu_report.ended_projects['6'] }}</td>
                        </tr>
                        <tr>
                            <td colspan="7"><strong>Tickets</strong></td>
                        </tr>
                        <tr>
                            <td>Pending</td>
                            <td>{{ items?.sbu_report.pending_tickets['3'] }}</td>
                            <td>{{ items?.sbu_report.pending_tickets['2'] }}</td>
                            <td>{{ items?.sbu_report.pending_tickets['1'] }}</td>
                            <td>{{ items?.sbu_report.pending_tickets['4'] }}</td>
                            <td>{{ items?.sbu_report.pending_tickets['5'] }}</td>
                            <td>{{ items?.sbu_report.pending_tickets['6'] }}</td>
                        </tr>
                        <tr>
                            <td>In progress</td>
                            <td>{{ items?.sbu_report.in_progress_tickets['3'] }}</td>
                            <td>{{ items?.sbu_report.in_progress_tickets['2'] }}</td>
                            <td>{{ items?.sbu_report.in_progress_tickets['1'] }}</td>
                            <td>{{ items?.sbu_report.in_progress_tickets['4'] }}</td>
                            <td>{{ items?.sbu_report.in_progress_tickets['5'] }}</td>
                            <td>{{ items?.sbu_report.in_progress_tickets['6'] }}</td>
                        </tr>
                        <tr>
                            <td>Resolved</td>
                            <td>{{ items?.sbu_report.resolved_tickets['3'] }}</td>
                            <td>{{ items?.sbu_report.resolved_tickets['2'] }}</td>
                            <td>{{ items?.sbu_report.resolved_tickets['1'] }}</td>
                            <td>{{ items?.sbu_report.resolved_tickets['4'] }}</td>
                            <td>{{ items?.sbu_report.resolved_tickets['5'] }}</td>
                            <td>{{ items?.sbu_report.resolved_tickets['6'] }}</td>
                        </tr>
                        <tr>
                            <td>Closed</td>
                            <td>{{ items?.sbu_report.closed_tickets['3'] }}</td>
                            <td>{{ items?.sbu_report.closed_tickets['2'] }}</td>
                            <td>{{ items?.sbu_report.closed_tickets['1'] }}</td>
                            <td>{{ items?.sbu_report.closed_tickets['4'] }}</td>
                            <td>{{ items?.sbu_report.closed_tickets['5'] }}</td>
                            <td>{{ items?.sbu_report.closed_tickets['6'] }}</td>
                        </tr>
                        <tr>
                            <td>Reopen</td>
                            <td>{{ items?.sbu_report.reopen_tickets['3'] }}</td>
                            <td>{{ items?.sbu_report.reopen_tickets['2'] }}</td>
                            <td>{{ items?.sbu_report.reopen_tickets['1'] }}</td>
                            <td>{{ items?.sbu_report.reopen_tickets['4'] }}</td>
                            <td>{{ items?.sbu_report.reopen_tickets['5'] }}</td>
                            <td>{{ items?.sbu_report.reopen_tickets['6'] }}</td>
                        </tr>
                        <tr>
                            <td colspan="7"><strong>Clients</strong></td>
                        </tr>
                        <tr>
                            <td>Active</td>
                            <td colspan="6">{{ items?.sbu_report.active_clients }}</td>
                        </tr>
                        <tr>
                            <td>Not Active</td>
                            <td colspan="6">{{ items?.sbu_report.not_active_clients }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>