<div class="row">
	<div class="col-sm-12"><div class="deleteResponse"></div></div>
</div>
<h4>Are you sure you want to delete  <strong>{{ data.name }} </strong> user account?</h4>
<div style="float: right;">
  <button mat-raised-button color="primary" (click)="deleteUser(data.userId)" style="margin-right:10px;">Yes <span class="deleteLoad"></span></button>
  <button mat-raised-button color="primary" (click)="closeDeleteUser()">No</button>
</div>