<style type="text/css">
.tbl_default{
	display:none;
}
.cl_admin{
	display:none;
}

.cl_con{
	display:none;
}

.cl_super_admin{
	display:none;
} 

.tbl_admin{
	display:none;
} 

.cl_unkown{
	display:none;
}

.tbl_sbu_dir{
	display:none;
} 

.tbl_pro_mg{
	display:none;
} 

.tbl_sbu_psh{
	display:none;
} 

.tbl_super_admin{
	display:none;
} 
</style>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" width="120px;"></a>
	</div>
	<!-- /.navbar-header -->

	<ul class="nav navbar-top-links navbar-right">
		
		<li class="dropdown">
			{{ userName }}
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-messages">
<!-- 				<li>
					<a href="#">
						<div>
							<strong>John Smith</strong>
							<span class="pull-right text-muted">
								<em>Yesterday</em>
							</span>
						</div>
						<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
					</a>
				</li>
				<li class="divider"></li> -->
				<li>
					<a class="text-center" href="#">
						<strong>No Messages</strong>
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
			</ul>
			<!-- /.dropdown-messages -->
		</li>
		<!-- /.dropdown -->
    <li class="dropdown dropdown-notifications" id="not_sec" (click)="notSeen(user.id)">
      <a href="#notifications-panel" class="dropdown-toggle" data-toggle="dropdown">
        <i data-count="0" class="glyphicon glyphicon-bell notification-icon"></i>
      </a>

      <div class="dropdown-container">
        <div class="dropdown-toolbar">
          <div class="dropdown-toolbar-actions">
            <a href="#">Mark all as read</a>
          </div>
          <h3 class="dropdown-toolbar-title">Notifications (<span class="notif-count">0</span>)</h3>
        </div>
        <ul class="dropdown-menu">
        </ul>
        <div class="dropdown-footer text-center">
          <a href="#">View All</a>
        </div>
      </div>
    </li>
		<!-- /.dropdown -->
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
<!-- 				<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
				</li> -->
				<li><a (click)="changePassword(user.id)"><i class="fa fa-user fa-fw"></i> Change password</a>
				<li class="divider"></li>
				<li>
					<a routerLink="/logout" href="/logout">Logout</a>
				</li>
			</ul>
			<!-- /.dropdown-user -->
		</li>
		<!-- /.dropdown -->
	</ul>
	<!-- /.navbar-top-links -->

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<li class="sidebar-search">
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
					</div>
					<!-- /input-group -->
				</li>
				<!-- tbl_default -->
				<li class="tbl_default">
					<a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				</li>
				<li class="tbl_default">
					<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
					</ul>
				</li>
				<li class="tbl_default">
					<a href="#"><i class="fa fa-files-o fa-fw"></i> Clients<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a routerLink="/clients/create">New client</a>
						</li>
						<li>
							<a routerLink="/clients/view">view clients</a>
						</li>
					</ul>
				</li>
				<li class="tbl_default">
					<a href="#"><i class="fa fa-files-o fa-fw"></i> Projects<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a  routerLink="/projects/create">Create Project</a>
						</li>
						<li>
							<a routerLink="/projects/show/active">View Project</a>
						</li>
					</ul>
				</li>
				<li class="tbl_default">
					<a href="#"><i class="fa fa-files-o fa-fw"></i> Tickets<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
					</ul>
				</li>
				<li class="tbl_default">
					<a href="#"><i class="fa fa-files-o fa-fw"></i> Users<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a  routerLink="/users/create" href="/users/create">New User</a>
						</li>
						<li>
							<a routerLink="/users/view" href="/users/view">View Users</a>
						</li>
					</ul>
				</li>
<!-- <h1>Client Admin</h1> Done -->
					<li class="cl_admin">
						<a href="#"><i class="fa fa-user"></i> User Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/users/create">Create New User</a>
							</li>
							<li>
								<a routerLink="/users/view">View users</a>
							</li>
						</ul>
					</li>
					<li class="cl_admin">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>

					<li class="cl_admin">
						<a href="#"><i class="fa fa-ticket"></i> Ticket Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/tickets/create">New ticket</a>
							</li>
							<li>
								<a routerLink="/tickets/view">View tickets</a>
							</li>
						</ul>
					</li>
					<li class="cl_admin">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
					<li class="cl_admin">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li>
<!-- <h1>Client Consultant </h1> Done -->
					<li class="cl_con">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>

					<li class="cl_con">
						<a href="#"><i class="fa fa-ticket"></i> Ticket Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/tickets/create">New ticket</a>
							</li>
							<li>
								<a routerLink="/tickets/view">View tickets</a>
							</li>
						</ul>
					</li>
					<li class="cl_con">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="cl_con">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li> -->
<!-- <h1>Client Super Admin</h1> Done -->
					<li class="cl_super_admin">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>

					<li class="cl_super_admin">
						<a href="#"><i class="fa fa-ticket"></i> Ticket Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/tickets/create">New ticket</a>
							</li>
							<li>
								<a routerLink="/tickets/view">View tickets</a>
							</li>
						</ul>
					</li>

					<li class="cl_super_admin">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="cl_super_admin">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li> -->
<!-- <h1>TBL Admin</h1> Done-->
					<li class="tbl_admin">
						<a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a>
					</li>

					<li class="tbl_admin">
						<a href="#"><i class="fa fa-briefcase"></i> Client Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/clients/create">Create New Client</a>
							</li>
							<li>
								<a routerLink="/clients/view">View Client</a>
							</li>
						</ul>
					</li>
					<li class="tbl_admin">
						<a href="#"><i class="fa fa-user"></i> User Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/users/create">Create New User</a>
							</li>
							<li>
								<a routerLink="/users/view">View users</a>
							</li>
						</ul>
					</li>
					<li class="tbl_admin">
						<a href="#"><i class="fa fa-bookmark"></i> Project Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/projects/create">Create New Project</a>
							</li>
							<li>
								<a routerLink="/projects/show/active">View Projects</a>
							</li>
						</ul>
					</li>

					<li class="tbl_admin">
						<a href="#"><i class="fa fa-ticket"></i> Ticket Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/tickets/create">New ticket</a>
							</li>
							<li>
								<a routerLink="/tickets/view">View tickets</a>
							</li>
						</ul>
					</li>

					<li class="tbl_admin">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="tbl_admin">
						<a routerLink=""><i class="fa fa-support"></i> Support Team<span class="fa arrow"></span></a>
					</li> -->

<!--********************************* <h1>Clients</h1> -->
					<li class="cl_unkown">
						<a routerLink=""><i class="fa fa-files-o fa-fw"></i>View Projects<span class="fa arrow"></span></a>
					</li>
					<li class="cl_unkown">
						<a routerLink=""><i class="fa fa-files-o fa-fw"></i>View Tickets<span class="fa arrow"></span></a>
					</li>
					<li class="cl_unkown">
						<a href="#"><i class="fa fa-files-o fa-fw"></i>Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="cl_unkown">
						<a routerLink=""><i class="fa fa-files-o fa-fw"></i>Support Team<span class="fa arrow"></span></a>
					</li> -->
<!-- <h1>TBL SBU Director</h1> Done -->
					<li class="tbl_sbu_dir">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>
					<li class="tbl_sbu_dir">
						<a routerLink="/tickets/view"><i class="fa fa-ticket"></i> View Tickets</a>
					</li>
					<li class="tbl_sbu_dir">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="tbl_sbu_dir">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li> -->
<!-- <h1>TBL Project Manager</h1> Done -->
					<li class="tbl_pro_mg">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>

					<li class="tbl_pro_mg">
						<a href="#"><i class="fa fa-ticket"></i> Ticket Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/tickets/create">New ticket</a>
							</li>
							<li>
								<a routerLink="/tickets/view">View tickets</a>
							</li>
						</ul>
					</li>

					<li class="tbl_pro_mg">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="tbl_pro_mg">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li> -->
<!-- <h1>TBL SBU project Service head</h1> Done -->
					<li class="tbl_sbu_psh">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>
					<li class="tbl_sbu_psh">
						<a routerLink="/tickets/view"><i class="fa fa-ticket"></i> View Tickets</a>
					</li>
					<li class="tbl_sbu_psh">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="tbl_sbu_psh">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li> -->
<!-- <h1>TBL Super Admin</h1> Done -->
					<li class="tbl_super_admin">
						<a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a>
					</li>
					<li class="tbl_super_admin">
						<a routerLink="/clients/view"><i class="fa fa-briefcase"></i> View Client</a>
					</li>
					<li class="tbl_super_admin">
						<a routerLink="/projects/show/active"><i class="fa fa-bookmark"></i> View Projects</a>
					</li>
					<li class="tbl_super_admin">
						<a routerLink="/tickets/view"><i class="fa fa-ticket"></i> View Tickets</a>
					</li>
					<li class="tbl_super_admin">
						<a href="#"><i class="fa fa-pie-chart"></i> Reports Management<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a  routerLink="/project-report">Monthly Project Report</a>
							</li>
							<li>
								<a routerLink="/service-report">Service Tracker Report</a>
							</li>
						</ul>
					</li>
<!-- 					<li class="tbl_super_admin">
						<a routerLink="/support-team"><i class="fa fa-support"></i> Support Team</a>
					</li> -->
			</ul>
		</div>
	</div>