<mat-card>
    <mat-card-title><span class="fa fa-user-o"></span> Assign ticket</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <div>
            <form role="form" [formGroup]="AssignTicketForm" (ngSubmit)="assignTicket()">
                <div class="form-group example-container">
                  <mat-form-field>
                    <mat-select placeholder="Priority" formControlName="priority">
                      <mat-option value="option">Option</mat-option>
                            <mat-option *ngFor="let priority of priorities?.data" [value]="priority?.id">{{ priority?.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select placeholder="Assign to" formControlName="assign_to">
                      <mat-option value="option">Option</mat-option>
                            <mat-option *ngFor="let pm of pms?.data" [value]="pm?.id">{{ pm?.full_name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                  </mat-form-field>
                  <input type="hidden" formControlName="ticket_id">
                  <div class="row">
                    <div class="col-md-5 col-sm-12 col-xm-12">

										<div class="row">
											<div class="col-md-6 col-sm-12 col-xm-12">
	                      <mat-card-actions>
	                        <div class="example-button-row">
	                          <button mat-raised-button color="primary" [disabled]="!AssignTicketForm.valid">Submit <span class="assignLoad"></span></button>
	                        </div>
	                      </mat-card-actions>
											</div>
											<div class="col-md-6 col-sm-12 col-xm-12">
	                      <mat-card-actions>
	                        <div class="example-button-row">
	                          <button mat-raised-button color="primary" (click)="closeAssign()">Cancel</button>
	                        </div>
	                      </mat-card-actions>
											  
											</div>
										</div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xm-12">
                        <div class="assignResponse" style="padding-left: 40px;"></div>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>