<div id="wrapper">
    <app-sibebar></app-sibebar>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xm-12">
                    <mat-card>
                        <mat-card-title>Create Ticket</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-content>
                            <div>
                                <form role="form" [formGroup]="CreateTicketForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group example-container">
                                      <mat-form-field>
                                        <mat-select placeholder="Project" formControlName="project">
                                          <mat-option value="">Option</mat-option>
                                                <mat-option *ngFor="let project of projects?.data" [value]="project?.id">{{ project?.name }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <mat-select placeholder="Priority" formControlName="priority">
                                          <mat-option value="">Option</mat-option>
                                                <mat-option *ngFor="let priority of priorities?.data" [value]="priority?.id">{{ priority?.name }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <mat-select placeholder="Issue" formControlName="issue">
                                          <mat-option value="">Option</mat-option>
                                                <mat-option *ngFor="let issue of issues?.data" [value]="issue?.id">{{ issue?.name }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-form-field>
                                        <textarea matInput placeholder="Details" formControlName="details"></textarea>
                                      </mat-form-field>
                                      <input  style="background-color: #94d8ff; padding-bottom: 0.6em; padding-top: 0.6em;"
                                        class="col-md-3 uploadForm" 
                                        type="file" 
                                        (change)="fileChanged($event)" 
                                        #fileInput 
                                        required
                                        id="file" multiple>

<!-- <div class="button-row">  -->
    <!-- <mat-icon>attachment</mat-icon></button>  -->
  <!-- <button mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()"> -->
  <!-- <input type="file" #imgFileInput (change)="previewImage($event)"/>  -->
<!-- </div> -->
                                      <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xm-12">
                                          <mat-card-actions>
                                            <div class="example-button-row">
                                              <button mat-raised-button color="primary" [disabled]="!CreateTicketForm.valid">Submit <span class="submitLoad"></span></button>
                                            </div>
                                          </mat-card-actions>
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xm-12">
                                            <div class="response" style="padding-left: 40px;"></div>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </mat-card-content>
                    </mat-card>         
            </div>
        </div>
    <router-outlet></router-outlet>
    </div>
</div>