<div id="wrapper">
	<app-sibebar></app-sibebar>
	<div id="page-wrapper">
		<router-outlet></router-outlet>
		<section style="padding-top: 20px;">
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							New user
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form role="form" [formGroup]="NewUserForm" (ngSubmit)="onSubmit()">
										<div class="form-group" *ngIf="account_type">
												<label>Accounty Type</label>
												<select class="form-control dropdown" (change)="accountType();"  formControlName="accountType">
													<option>Select</option>
													<option value="tbl" *ngIf="tbl_option">TBL</option>
													<option value="client" *ngIf="client_option">Client</option>
													<option value="client" *ngIf="client_option_selected" select>Client</option>
												</select>
											</div>
											<span class="fa fa-refresh fa-spin" *ngIf="loadForm" style="font-size:20px;"></span>

										<div *ngIf="accountSection">
											<div id="clientSelect" *ngIf="client">
												<div class="clearfix full">
													<label>Client</label>
													<select class="form-control dropdown" formControlName="client">
														<option value="">Select</option>
														<option *ngFor="let client of clients.data" value="{{ client.id }}">{{ client.name }}</option>
													</select>
												</div>
											</div>
											<div class="form-group" *ngIf="country_input">
												<label>Country</label>
												<select class="form-control dropdown" formControlName="country">
													<option value="">Select</option>
													<option *ngFor="let country of countries.data" value="{{ country.id }}">{{ country.name }}</option>
												</select>
											</div>
											<input type="hidden" name="client_id" value="">
											<input type="hidden" name="country_id" value="">
											<div class="form-group">
												<label>User Group</label>
												<select class="form-control dropdown" formControlName="userGroup" (change)="userGroupSelection();">
													<option value="">Select</option>
													<option *ngFor="let role of roles.data" value="{{ role.id }}" (click)="userGroupChange()">{{ role.name }}</option>
												</select>
											</div>

											<div *ngIf="sbu">
												<div class="form-group">
													<label>SBU</label>
													<select class="form-control dropdown" formControlName="sbu">
														<option value="">Select</option>
														<option *ngFor="let sbu of sbus.data" value="{{ sbu.id }}">{{ sbu.name }}</option>
													</select>
												</div>
											</div>
											
											<div class="form-group">
												<label>First Name</label>
												<input class="form-control" placeholder="First Name" formControlName="firstName">
											</div>
											<div class="form-group">
												<label>Middle Name</label>
												<input class="form-control" placeholder="Middle Name" formControlName="middleName">
											</div>
											<div class="form-group">
												<label>Last Name</label>
												<input class="form-control" placeholder="Last Name" formControlName="lastName">
											</div>
											<div class="form-group">
												<label>Email Address</label>
												<input class="form-control" placeholder="Email Address" formControlName="email">
											</div>
											<div class="form-group">
												<label>Cellphone No.</label>
												<input class="form-control" placeholder="Cellphone No." formControlName="phone">
											</div>
											<div class="form-group">
												<label>Skype ID</label>
												<input class="form-control" placeholder="Skype ID" formControlName="skype">
											</div>
											<div class="form-group">
												<label>City/Town</label>
												<input class="form-control" placeholder="City/Town" formControlName="town">
											</div>
											<div>
												<div class="col-md-3 col-sm-6 col-xm-6" style="padding: 0;">
													<button mat-raised-button color="primary" type="submit" class="btn btn-default" [disabled]="!NewUserForm.valid">Submit Button <span class="submitLoad"></span></button>
												</div>
												<div class="col-md-9 col-sm-6 col-xm-6">
													<div class="response" style="padding-left: 40px;"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>    
		</section>
		<router-outlet></router-outlet>
	</div>
</div>